.estilo-tatto h2{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 120px;
}

.estilo-tatto div{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1020px){
    .estilo-tatto div{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .estilo-tatto h2{
        font-size: 20px;
    }
}