

.card-tatto {
    position: relative;
    width: 300px; 
    border-radius: 5px;
}

.imgTipoTatto{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.nomeTipoTatto{
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #45050C !important; 
    color: white !important;
    text-align: center !important;
    padding: 10px 0 !important;
    font-size: 19px !important;
    border-radius: 0 0 5px 5px !important;
    cursor: pointer !important;
}



@media screen and (max-width: 1020px){
    .nomeTipoTatto, .imgTipoTatto{
        margin-bottom: 10px;
    }
}