body {
  color: #fff;
  margin: 0;
  padding: 0;
}

.dashboard {
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 1040px;
}

.div-kpi {
  display: flex;
  justify-content: space-between;
}

.div-graficos-dupla {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-grafico {
  display: flex;
}

/* Estilo para os gráficos */
.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171515;
  border-radius: 8px;
  padding: 20px;
  width: 49%;
  height: 220px;
}

.chart-containerLucro {
  background-color: #171515;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 200px;
}

.chart-containerLucro h2,
.chart-container h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #FB3F83;
}

.chart-container canvas {
  display: flex;
}

.chart-container .chartjs-render-monitor,
.chart-containerLucro .chartjs-render-monitor {
  background-color: #171515;
}

/* Estilo para as KPIs */
.kpi-container,
.kpi-containerAnual {
  text-align: center;
  background-color: #171515;
  border-radius: 8px;
  padding: 20px;
  color: #fff;
  width: 320px;
}

.produto-baixo-estoque {
  color: #FFF600;
  text-transform: uppercase;
}

.kpi-container h2,
.kpi-containerAnual h2 {
  margin-top: 0;
  font-size: 15px;
  color: #FB3F83;
  margin-bottom: 8px;
}

.kpi-container p,
.kpi-containerAnual p {
  font-size: 1.0em;
}

/* Adiciona um estilo para a KPI de alerta */
.kpi-container.alert {
  height: 100%;
  box-shadow: 0px 0px 15px 5px #ff0000;
  margin-bottom: 0px;
}
