#section-login {
    overflow: hidden;
}

.container-login {
    height: 85vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/imagens/img-login-opaca.png);
    background-size: cover;
    overflow: hidden;
}

.container-login form {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 15px;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-login input {
    border-radius: 5px;
    width: 20vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.container-login button {
    background-color: #DF0050;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px;
}
  
.container-login button:hover {
    background-color: #ff2374;
    box-shadow: 0px 0px 8px 1px #ff2374;
}
  
.container-login h1 {
    margin-bottom: 10px;
}

.error {
    color: rgb(255, 4, 4);
    text-decoration: underline;
    text-align: center;
}