.endereco-contato {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 20px;
}

.container-icones-contato {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}