.botao-fechar {
    cursor: pointer;
    align-items: center;
    color: white;
    background-color: black;
    border: solid 1px #DF0050;
    height: 30px;
    font-size: 14px;
    width: 135px;
    border-radius: 5px;
}

.botao-fechar:hover {
    background-color: #45050C;
}