.botao-fechar{
    width: 70px;
    height: 30px;
    background-color: #8d0c0c;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}