.img-home {
  color: white;
  background-image: url('../public/imagens/img-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.img-home p {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
  padding-left: 100px;
}

.titulo-orcamento {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 110px 0 80px 0;
}

.endereco{
  color: white;
    font-size: 20px;
    margin: 80px 0 20px 30px;
}

@media screen and (max-width: 1020px) {
  .img-home {
    height: 190px;
  }

  .img-home p {
    padding: 0;
    justify-content: center;
    font-size: 20px;
  }

  .titulo-orcamento{
    font-size: 20px;
  }

  .endereco{
    margin-left: 0 !important;
    text-align: center;
  }
}