.imagem-texto{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 120px 0;
}

.titulo-sobre{
    color: #DF0050;
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.img-leticia{
    height: 270px;
    margin-right: 20px;
    border-radius: 10px;
}

.container-sobre{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    padding: 30px 15px;
    border-radius: 10px;
    
}

.container-conteudo{
    display: flex;
    align-items: center;
   
}

.texto-sobre{
    color: white;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

@media screen and (max-width: 1020px){
   .imagem-texto{
    padding: 0 !important;
   }
   
    .container-conteudo {
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
    }

    .img-leticia{
        height: 179px !important;
        margin-right: 0;

    }

    .container-sobre{
        width: 65%;
    }

    .texto-sobre{
        font-size: 12px !important;
        padding-top: 10px !important;
    }

    .titulo-sobre{
        font-size: 20px !important;
        padding-bottom: 40px !important;
        text-align: center !important;

    }
}