.botao{
    display: flex;
    justify-content: center;
}

.botao button{
    color: white;
    background-color: black;
    border: solid 1px #DF0050;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.linkBotao{
    text-decoration: none;
}

.botao button:hover {
    background-color: #45050C;
}

